.form-control {

  margin: 0px, 0px, 0px, 200px;
  width: 800px;
  height: 100px;
  line: 2px black;


}

h1 {

  font-size: 45px;
  text-align: center;
}



section {
  line: 2px black;

  top: 100px;
  width: 200px;
  height: 200px;
  font-size: 20px;

}

.list {

  width: 300px;
  margin: 100px;
}

.popover {
  display: none;
  width: 20px;
}

a {
  width: 15px;
}

img {
  width: 15px;
}
